@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --dark: oklch(0.1879 0.0016 17.3);
  --light: oklch(0.9992 0.0011 197.14);
  --neutral: oklch(55.6% 0 0);
  --primary: oklch(0.606 0.25 292.717);
  --secondary: oklch(0.38 0.189 293.745);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-dark: var(--dark);
    --color-light: var(--light);
    --color-neutral: var(--neutral);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
  }
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-neutral: var(--neutral);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

.custom-outline {
  @apply outline-offset-4 dark:outline-offset-0 outline-primary;
}